[Desktop Entry]
Name=Money Skills
Name[sv]=Pengakollen
Comment=Learn about money for children with IF
Comment[sv]=Lär sig pengar
Exec=pengakollen
Icon=se.danielnylander.pengakollen
Type=Application
Categories=Education;Accessibility;
